.banner { 
    background: var(--gradient-blue);
    color: var(--white);
    text-align: center;
    padding: 32px 24px;
}

.banner__title {
    font-size: 18px;
    font-weight: 700;
}

.banner__text {
    margin: 24px;
    font-weight: 500;
    font-size: 16px;
}

.banner__search {
    width: 100%;
    background-color: transparent;
    padding: 1em;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 24px;
}

.banner__search::placeholder {
    color: var(--white);
    background-position: 1em;
    text-align: center;
    font-family: var(--font);
    background: url(../img/Pesquisa.svg) no-repeat;
    background-position: 4em;
    padding-left: 45px;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1024px) {
    .banner__title {
        font-size: 36px;
        margin-top: 2em;
    }

    .banner__search {
        width: 50%;
        margin-bottom: 3em;
    }
}
