.header {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 1em;
}

.header__container {
    display: flex;
    align-items: center;
    z-index: 2;
    justify-content: space-between;
}

.header__menu-input {
    display: none;
}

.header__menu-hg {
    width: 24px;
    height: 24px;
    background: url("../img/Menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
}

.header__menu-input:checked~.header__menu-label>.header__menu-hg {
    background-image: url('../img/X_Menu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header__menu-input:checked~.header__menu-label {
    background-color: var(--dark-blue);
}

.container__img {
    padding: 0.25em;
}

.container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container__text {
    font-size: 20px;
    color: var(--black);
    display: none;
}

.container__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

.header__menu-label {
    cursor: pointer;
}

.header__menu-input:checked~.header__nav {
    left: 0;
}

.header__nav {
    background-color: var(--white);
    width: 75%;
    position: absolute;
    top: 100%;
    left: -100%;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);

    z-index: 2;
    transition: left ease 0.5s;
}

.navbar__item { 
    padding: 16px 24px
}

.navbar__item:first-child {
    color: var(--orange);
    font-weight: 700;
}

.navbar__link {
    text-transform: uppercase;
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.navbar__item:hover {
    background: var(--gradient-blue);
}

.navbar__item:hover .navbar__link {
    background: var(--white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header__title {
    display: none;
}

.header__title-bold {
    font-weight: 700;
}

.header__nav-list {
    display: none;
}

.header__list {
    display: none;
}

.header__list-input {
    display: none;
}

.header__list-item {
    display: inline-block;
    height: 100%;
}

.header__list-item-dropdown:hover{
    background: var(--gradient-blue);
    color: var(--white);
}

.header__list-label {
    cursor: pointer;
}

.header__list-item {
    text-transform: uppercase;
    color: var(--black);
    padding: 0 0.5em;
}

.header__list-link {
    text-decoration: none;
    color: var(--black);
}

.navbar__item-list {
    padding: 16px 24px
}

.navbar__link-list {
    text-transform: uppercase;
    background: var(--gradient-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1024px)
{
    .header__menu-hg {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__title {
        display: inline-block;
        font-family: var(--font-secondary);
        font-weight: 400;
        font-size: 30px;
    }

    .container__img-hide { 
        display: none;
    }

    .header__list {
        display: flex;
        justify-content: space-between;
    }

    .header__list-input:checked~.header__nav-list {
        top: 80%;
    }

    .header__nav-list {
        display: flex;
        background-color: var(--white);
        width: auto;
        position: absolute;
        top: -500%;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    
        z-index: 1;
        transition: top ease 0.5s;
    }

    .navbar__item-hide {
        display: none;
    }

    .navbar__item-list:hover {
        background: var(--gradient-blue);
    }

    .navbar__item-list:hover .navbar__link-list {
        background: var(--white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    .container__logo {
        padding-right: 2em;
    }

}

/*MEDIA QUERIES*/
@media screen and (min-width: 1728px)
{
    .container__text {
        display: flex;
    }

    .container__logo {
        padding-right: 2em;
    }
}
